# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vite
dist/
dist-single/
.vite/

# Env
.env
.env.local
.env.*.local

# Editor temp files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
